<div class="balloon">
  
    <a id="balloon-link" href="#" data-point="$[properties.balloonContentPoint]" point = "$[properties.balloonContentPoint]">$[properties.balloonContentAddress]</a>
    
  
</div>